.SignupTextarea {
    width: 25vw;
    height: 5em;
    display: block;
}
.SignupTextarea:invalid {
    box-shadow: 0px 0px 2px 2px red;
    border-style: dashed;
    border-color: red;
}

.SignupInput:invalid {
    box-shadow: 0px 0px 2px 2px red;
    border-style: dashed;
    border-color: red;
}

.SignupBlock {
    margin: 1em;
}

.SignupHeader {
    text-align: center;
}